/* Importando o CSS específico da página de login */
@import url('./pages/login.css');

:root {
    --bg-main: #121212;
    --bg-card: #1c1c1c;
    --bg-button-dark: #1f1f1f;
    --gold-primary: #cba338;
    --gold-hover: #b8912d;
    --text-white: #ffffff;
    --text-muted: #888888;
    --border-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-main);
    color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#app {
    width: 100%;
    display: flex;
    justify-content: center;
}